
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-5">
					<h2>商品詳細ページ</h2>
				</div>
				<div class="col-md-4"></div>
			</div>
			<hr>

			<!-- Product Info -->
			
			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-4"><img src="sgt-jk.jpg" class="img-responsive" style="width:100% " alt="Image"></div>

				<div class="col-md-1"></div>

				<div class="col-md-4">
					<div class="col-md-12">
						<u><h3 style="">The click</h3></u>
					</div>
					<div class="col-md-12">
						<h5><strong>The Beatles</strong></h5>
					</div>
					<div class="col-md-12">
						<h5>レーベル: xxx lable</h5>
					</div>
					<div class="col-md-12">
						<h5>ジャンル: Anime</h5>
					</div>
					<div class="col-md-12">
						<h5>発売日: 2017/11/11</h5>
					</div>
					<div class="col-md-12">
						<h5>構成数: 2枚</h5>
					</div>
					<div class="col-md-12">
						<h5>全曲数: 7曲</h5>
					</div>
					<div class="col-md-12">
						<h4>価格: 5000 円</h4>
					</div>
					<div class="col-md-12">
						<h5>販売中/在庫あり</h5>
					</div>
					<div class="col-md-5">
						<a href="cart.html" class="btn btn-info">カートに入れる</a>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>


			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<div>
						<h5>Disk 1</h5>
						<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th class="col-md-1">Track</th>
											<th>Title</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td>watch your step!!</td>
										</tr>
										<tr>
											<th>2</th>
											<td>Rainy DANCE</td>
										</tr>
										<tr>
											<th>3</th>
											<td>Interlude～Ocean way</td>
										</tr>
										<tr>
											<th>4</th>
											<td>LET'S DO THE MOTION</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div>
								<h5>Disk 2</h5>
								<table class="table table-striped">
									<thead>
										<tr>
											<th class="col-md-1">Track</th>
											<th>Title</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td>'77～</td>
										</tr>
										<tr>
											<th>2</th>
											<td>present</td>
										</tr>
										<tr>
											<th>3</th>
											<td>Interlude～Joy</td>
										</tr>
									</tbody>
								</table>
							</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>


			</div><br><br>
		</body>
